html {
    font-size: 100%;
  } /*16px*/

  body {
    background-color: black;
    display: flex;
    margin: 0 0;
    color: #1d2429;

  font-family: 'M PLUS 1 Code', sans-serif;
  font-family: 'Press Start 2P', cursive;
  background-color:black;
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 300px;
    margin-bottom: 10vw;

  }
  .flex-item {
    align-self: center;

  }


  a {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-top: 10vw;
    margin-bottom: 10vw;
    font-weight: 100;
    font-size: 4vw;
  }

  a:hover {
    color: red;
    font-weight:bolder;
  }

  .text {
    color:red;
    margin-top: 30px;
    margin-bottom: 100px;
    font-weight:500;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 200%;
  }

  .Information {
    color: white;
    margin-bottom: 100px;
    font-weight:400;
    font-size: 0.9vw;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 200%;
  }

  .linebreak {margin-top: 50vw;}


  .btn-1 {
    background: white;
    color:  black;
    border-radius: 30px;
    transition: transform 0.3 ease;
  }

  .btn-1::after, .btn-1::after {
content: "";
position: absolute;
opacity: 0.3;
border-radius: inherit;
width: 100%;
height: 100%;
left: 110%;
bottom: 0;
z-index: -1;
transition: transform 0.3 ease;
}

.btn-1:hover {
transform: translate(-12px, -12px);
}

.btn-1:hover::after {
  transform: translate(6px, 6px);
  }

  .btn-1:hover::before {
    transform: translate(12px, 12px);
    }
