html {
    font-size: 100%;
  } /*16px*/

  body {
    background-color: #fff;
    display: flex;
    margin: 0 0;
    color: #1d2429;
  }
 
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .flex-item {
    align-self: center;
  }